@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* intro */

.introduction {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#30c67c, #82f4b1);

  /* background: #000; */
  /* overflow: hidden; */
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}

.wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -7s;
  bottom: 10px;
}

.wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

.i-title {
  position: absolute;
  height: 50px;
  overflow: hidden;
  top: 60%;
  left: 40%;
}
.i-title-wrapper {
  height: 100%;
  animation: move 12s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
}
.i-title-item {
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typewriter h1 {
  /* font-family: "Dancing Script", cursive; */
  color: #ffffff;
  position: absolute;
  height: 50px;
  overflow: hidden;
  top: 65%;
  left: 34%;
  border-right: 0.15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3s steps(30) infinite, blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.resize {
  object-fit: cover;
  /* border-radius: 50%; */
  position: absolute;
  overflow: hidden;
  top: 25%;
  left: 40%;
  height: auto;
  width: 250px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  font-size: 1rem;
}

.header-left {
  flex: 1;
  font-family: "Dancing Script", cursive;
  padding: 1.2rem;
  color: #ffffff;
  font-size: 25px;
}

.header-right {
  flex: 1;
  align-items: center;
  position: relative;
  margin-left: 50%;
}

.header-right a {
  font-size: 20px;
  color: #ffffff;
  justify-content: space-between;
  padding: 30px;
}

.header-left {
  display: flex;
  flex-direction: row;
}

/* about */

.about {
  display: flex;
  width: 100%;
  height: 80vh;
}

.about h1 {
  padding-top: 25px;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-align: center;
}
.about p {
  padding: 50px;
  text-align: center;
}

.a-img {
  position: absolute;
  padding-top: 20px;
  width: 100%;
  height: 200px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-img img {
  padding-left: 50px;
  padding-right: 50px;
  height: 125px;
  width: 125px;
}

.skills {
  text-align: center;
}
.skills span {
  font-family: "Dancing Script", cursive, bold;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
}

.project {
  background: linear-gradient(#30c67c, #82f4b1);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
}
.project .title h1 {
  padding-top: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.works {
  top: 10%;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}
/* .project::before {
  flex-direction: row;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  clip-path: circle(30% at right 70%);
} */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  z-index: 1;
}

.container .card {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 30px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card.card1 {
  background-image: url(work1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: center;
  border-radius: 15px;
}
.container .card.card1:hover {
  background-image: none;
  transition: 0.5s;
}
.container .card.card2 {
  background-image: url(work2.png);
  background-repeat: no-repeat;
  background-size: 100% 90%;

  background-position: center;
}
.container .card.card2:hover {
  background-image: none;
  transition: 0.5s;
}

.container .card.card3 {
  background-image: url(work3.png);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: center;
}
.container .card.card3:hover {
  background-image: none;
  transition: 0.5s;
}

.container .card .content {
  padding: 30px;
  text-align: center;
  transform: translateY(75px);
  opacity: 0;
  transition: 0.5s;
}
.container .card:hover .content {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .content h2 {
  font-style: 1em;
  color: #fff;
  z-index: 1;
}

.container .card .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  font-weight: 500;
}

/* contact */
.contact {
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
}

.c-left {
  flex: 1;
  padding: 50px;
}

.c-left h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
}

.c-info-item {
  margin: 50px 0px;
  font-weight: 300;
}

.c-info-item .fa {
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #30c67c;
}

.c-right {
  flex: 1;
  padding-top: 50px;
  padding-right: 50px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #30c67c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #82f4b1;
}

.c-container {
  border-radius: 5px;
  padding: 20px;
}

/* social media */

.social-media {
  height: 10vh;
  width: 100%;
  background: linear-gradient(#30c67c, #82f4b1);
}

.socialLinks {
  padding-top: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

a.social:hover {
  color: #fff;
  transform: translateY(-2px);
}
.socialLinks .fa {
  width: 50px;
  text-align: center;
  color: gray;
  border-radius: 50px;
}

footer {
  width: 100%;
  margin: 20px;
  display: flex;

  background: rgb(251, 251, 251);
}
.line-ht {
  font-family: "Dancing Script", cursive;
  flex: 1;
  font-size: 15px;
  color: gray;
}
.title {
  font-family: "Dancing Script", cursive;
  text-align: right;
  flex: 1;
  color: rgb(212, 212, 212);
  font-size: 10px;
}

.title .name {
  text-align: right;
  font-size: 15px;
  color: gray;
}

.title span {
  padding-right: 50px;
  color: #30c67c;
  font-size: 20px;
}

.btt {
  position: fixed;
  left: 2%;
  bottom: 5%;
  z-index: 1000;
  
}
.back-to-top {
  background: #30c67c;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 20px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  cursor: pointer;
}
